.col-sm-9 {
  width: 70%;
}
.col-sm-3 {
  width: 30%;
}
.highlighted {
  margin-top: 20px;
}
.region-sidebar-second {
	background: none;
	border: none;
	h2 {
	border-bottom: 1px dotted;
	color: #af2900;
	font-size: 16px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-top: 5px;
	text-transform: capitalize;
	background-color: rgba(175,41,0,.2);
	font-family: Georgia,"Times New Roman",Times,serif;
	margin-bottom: 0;
	margin-top: 0;
	}
	.bansuri-cds {
		background:url("../images/bg-edges.png");
		.view {
    		padding-left: 10px;
    		padding-right: 10px;
		    a {
			    color: #af2900;
			    padding-left: 12px;
			}
		}
	}
	.glossery-term {
		margin-top: 20px;
		background:url("../images/bg-edges.png");

    	p {
    		padding-left: 10px;
    		padding-right: 10px;
    		&:nth-of-type(1) {
		        font-size: 12px;
			    font-weight: bold;
			    text-align: center;
			    padding-top: 10px;
			}
		}
	}
	.logout {
		background:url("../images/bg-edges.png");
		margin-top: 20px;
	    a {
    		color: #c24e37;
    		text-decoration: none;
			-webkit-transition: all 0.5s;
		    -moz-transition: all 0.5s;
		    -ms-transition: all 0.5s;
		    -o-transition: all 0.5s;
		    transition: all 0.5s;
	        &:hover {
	    	    color:#f10000;
		    	-webkit-transition: all 0.5s;
			    -moz-transition: all 0.5s;
			    -ms-transition: all 0.5s;
			    -o-transition: all 0.5s;
			    transition: all 0.5s;
	        }
	    }
	}
}
/*side bar theming*/


.region-content {
	.views-field-title {
		color: #af2900;
		font-family: Georgia,"Times New Roman",Times,serif;
		font-weight: normal;
		letter-spacing: 2px;
		opacity: 0.99;
		text-transform: uppercase;
		font-size: 1.4em;
		line-height: 1.3em;
		margin-bottom: 0.667em;
		margin-top: 0.667em;
	    a {
    		color: #c24e37;
    		text-decoration: none;
			-webkit-transition: all 0.5s;
		    -moz-transition: all 0.5s;
		    -ms-transition: all 0.5s;
		    -o-transition: all 0.5s;
		    transition: all 0.5s;
	        &:hover {
	    	    color:#f10000;
		    	-webkit-transition: all 0.5s;
			    -moz-transition: all 0.5s;
			    -ms-transition: all 0.5s;
			    -o-transition: all 0.5s;
			    transition: all 0.5s;
	        }
	    }
	}
    a {
		color: #c24e37;
		text-decoration: none;
        &:hover {
    	    color:#f10000;
        }
    }
}
/*Homepage main slider block*/
.home-main-slider {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	.views_slideshow_cycle_slide {
  		background: none !important;
	}
	.attachment-before {
		.view-content{
			width: 100%;
			float: initial;
		}
	}
	.view-content{
		width: 35%;
		float: left;
		img {
			background: #e2e4e4;
			padding: 10px;
			border:1px solid #c8c8c8;
			max-width: 300px;
			width: 100%;
		}
	}
	.attachment-after {
		width: 65%;
		float: left;
	    .view-content {
			width: 100%;
			border:none;
			.views-field-field-other-description {
			    margin-top: 10px;
			}
		    .custom-more-link {
				float: right;
				margin-top: 20px;
				margin-right: 10px;
			}
	    }
    }
}
.custom-more-link {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-style: italic;
	list-style-type: none;
	text-transform: lowercase;
	color: #c24e37;
	text-decoration: none;
	&:hover {
		color:#f10000;
	}
}
/*homepage second block*/
.shankar-col-1 {
	float: left;
	width: 50%;
	.views-field-field-image {
		img {
			height: auto;
			width: 150px
		}
	}
	.views-field-body {
		float: left;
		margin-right: 10px;
		width: 60%;
	}
	.views-field-path {
		float: right;
		margin-right: 25px;
	}
}
/*homepage products shop*/
.homepage-cd-shop {
	clear:both;
	.views-row {
		float: left;
		margin-right: 22px;
		width: 150px;
		margin-left: 12px;
		margin-top: 20px;
		img {
			height:150px;
		}
	}
	.more-link {
	    float: right;
		margin-top: 5px;
	}
}

.homepage-haldipur-message {
	clear:both;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
    .views-row {
    	.views-field-body {
			max-width: 470px;
			width: 100%;
			float: left;
			margin-right: 20px;
    	}
    	.views-field-field-image {
	    	img {
				max-width: 420px;
				width: 100%;
			}
		}
	}
}
.homepage-raag {
	.views-row {
    	.views-field-body {
			max-width: 640px;
			width: 100%;
			float: left;
			margin-right: 20px;
    	}
    	.views-field-field-image {
	    	img {
				max-width: 260px;
				border: none;
				background: none;
				box-shadow: none;
			}
		}
		.views-field-path {
			float: right;
			margin-bottom: 10px;
		}
	}
}

/*homepage content type Theme */
.bansuri-content-type, .testominals {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	.flute-detail-image {
		max-width: 250px;
		width: 100%;
		float: right;
		margin-left: 10px;
	}
}
.flute-detail-image-slideshow {
	max-width: 450px;
	width: 100%;
	float: right;
	margin-left: 10px;
}

/*view-music CD  Shop*/
.view-music-shop {
	 .views-col {
		float: left;
		margin: 1%;
		padding: 10px;
		width: 48% !important;
		box-shadow: 0px 0px 3px #ccc;
	    .img-responsive {
			float: right;
			width: 170px;
			margin-right: 20px;
		}
		legend {
			border: medium none;
			font-size: 14px;
			font-weight: bold;
			margin-top: 10px;
		}
	}
}
/*Product CD Node page theming*/
.product-music-cd-or-track ,.product-flute {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	padding-left: 10px;
	.field--name-uc-product-image {
	    position: absolute;
	    top: 20px;
	    width: 160px;
	    height: auto;
	    right: 0;
	    right: 10px;
	}
	.field--name-body {
		max-width: 500px;
  		width: 100%;
	}
	.display-price {
		display: none;
	}
	.form-actions {
	    margin-top: 10px;
	}
}
/*Testomilals page theming*/
.view-testominals {
	.views-row {
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;
		padding-top: 10px;
		.views-field.views-field-body {
			display: inline-block;
			width: 60%;
			vertical-align: top;
			padding-right: 20px;
		}
		.views-field-field-testominal-image {
		    display: inline-block;
		    width: 40%;
		    img {
		    	float: right;
		    }
		}
	}
}
.view-photo-gallery {
	.gallery-title {
	    font-family: Georgia,"Times New Roman",Times,serif;
	    color: #af2900;
	    font-size: 16px;
	    padding-bottom: 20px;
	}
	.views-row {
	    display: inline-block;
	    img {
	        box-shadow: 0px 0px 7px #c6c6c6;
	          -webkit-transition: all 0.5s;
			  -moz-transition: all 0.5s;
			  -ms-transition: all 0.5s;
			  -o-transition: all 0.5s;
			  transition: all 0.5s;
	    	&:hover {
				box-shadow: 0px 0px 7px #000;
				-webkit-transition: all 0.5s;
			    -moz-transition: all 0.5s;
			    -ms-transition: all 0.5s;
			    -o-transition: all 0.5s;
			    transition: all 0.5s;
	    	}
	    }
	}
}

/*flute shop page theming*/
.flute-shop {
	.table {
		margin-bottom: 20px;
		max-width: 100%;
		width: 100%;
		border: 1px solid #ccc;
		margin-top: 15px;
		thead {
		    background: #ccc;
		}
		.views-field-title {
			color: #333	;
			font-family: arial;
			font-size: auto;
			font-weight: bold;
			letter-spacing: 0;
			line-height: auto;
			margin-bottom: 0;
			margin-top: 0;
			opacity: 1;
			text-transform: capitalize;
			font-size: 13px;

			a {
			    font-size: 14px;
			    text-transform: capitalize;
			}
		}
	}
}
/*videos gallery page theming*/

.view-id-videos {
	.views-row {
	    border-bottom: 1px solid #ccc;
	    padding-bottom: 30px;
	    padding-top: 10px;
	 	.views-field-field-embed-video {
		    max-width: 500px;
		    height: auto;
		    width: 100%;
		}
	}
}
/*Bansuri blog page theming*/
.view-bansuri-blog {
	.views-row {
	    clear: both;
	    padding-top: 10px;
	    &:nth-of-type(1) {
		    .views-field-title {
		    	border-top: none;
		    	padding-top: 0;
		    }
	    }
	    .views-field-title {
	    	border-top: 1px solid #ccc;
	    	padding-top: 10px;
	    }
	    .views-field-field-blog-image {
		    float: right;
		    max-width: 380px;
		    width: 100%;
		}
	}
	.pager {
	    clear: both;
	    padding-top: 20px;
	    width: 230px;
	    float: right;
	}
}
/*Blog node page theming */
 .blog {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	.flute-detail-image {
		max-width: 400px;
		width: 100%;
		float: right;
		margin-left: 10px;
	}
}
/*view cart theming*/
.uc-cart-view-form {
	.priority-low {
		img {
		    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		    height: 48px;
		    margin-right: 46px;
		    padding: 2px !important;
		    width: 70px;
		}
	}
}
#contact-message-feedback-form {
  width: 600px;
}
/*form checkout*/
.uc-cart-checkout-form {
	.form-text {
	    max-width: 430px;
	    width: 100%;
	}
	.select-wrapper {
	    max-width: 430px;
	    width: 100%;
	}
	.input-group-addon {
	    display: none;
	}
	.form-select {
	    width: 430px;
	}
	.form-type-email {
        padding-left: 24px;
  	    .form-email {
		    max-width: 430px;
		    width: 100%;
		    display: inline-block;
	    }
    }
    img {
	    border: none;
	    background: none;
	    box-shadow: none;
	    margin: 0;
	    padding: 0;
	    display: initial;
	}
}
/*theme captcha*/
.captcha {
	padding-bottom: 20px;
	img {
	    padding: 0;
	    border: 0;
	    box-shadow: none;
		&:hover {
			box-shadow:none;
		}
	}
}

/*override bootstrap theme*/
.btn-primary {
    background-color: #af2900;
    border-color: #af2900;
    &:hover {
	    background-color: #f10000;
  		border-color: #f10000;
	}
}
.btn {
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; 
	&:hover {
		-webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
	    -ms-transition: all 0.5s;
	    -o-transition: all 0.5s;
	    transition: all 0.5s; 
	}
}

