/* css for Mobile */
@media (min-width: 320px) and (max-width: 567px) { 
	header {
		.navbar-brand {
			font-size: 2em;
			margin: 0 20px;
		}
	}
	.google-translate-block {
		.gtranslate {
    			right: 36%;
    			top: 10em;
    			z-index: 100;
		}
		select {
			border: 1px solid #000 !important;
		}
	}
	.home-mp3-block {
		background-size:100%;
	}
	.path-frontpage {
		.slideshow-image-block {
    			width: 100%;
		}
		.homepage-main-content {
			width: 100%;
		}
		.home-Ravi-shankar-mishra {
			width: 100%;
			.views-field-body {
				width: 47%;
			}
		}
                .home-flute-classes,
		.home-nityanand-block,
		.home-raag-milan {
                        width: 100%;
                        .views-field-body {
                                width:100%;
                        }
                }

	}		
}

